{% extends 'base.html' %}
{% block title %} Job Management {% endblock %}

{% block content %}
    <script>

        function setSubmitAction(action) {
            console.log('Setting submit action:', action);
            document.getElementById('submit_action').value = action;
            console.log('submit_action value:', document.getElementById('submit_action').value);
            document.forms[0].submit();
        }

    </script>

    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" data-toggle="tab" href="#tab1">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab2">Finished</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab3">Rejected</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade show active" id="tab1">
         3 oddzielne tabelki, veh, customer, address, jakis textfield z service, guziki odrzuc/zakoncz, przemyslec jak z fakturowaniem i platnoscia
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Service</th>
              <th scope="col">Added at:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ service }}</td>
              <td>{{ timestamp }}</td>
            </tr>
          </tbody>
        </table>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Vehicle</th>
              <th scope="col">Body Type</th>
              <th scope="col">Production Year</th>
              <th scope="col">Fuel Type</th>
              <th scope="col">Engine Displacement</th>
              <th scope="col">Transmission</th>
              <th scope="col">Horsepower</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ make }} {{ model }}</td>
              <td>{{ body_type }}</td>
              <td>{{ production_year }}</td>
              <td>{{ fuel_type }}</td>
              <td>{{ engine_displacement }}</td>
              <td>{{ transmission }}</td>
              <td>{{ horsepower }}</td>
            </tr>
          </tbody>
        </table>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Adress</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Customer</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ postal_code }} {{ city }} {{ adress }}</td>
              <td>{{ phone_number }}</td>
              <td>{{ first_name }} {{ surname }}</td>
              <td>{{ email }}</td>
            </tr>
          </tbody>
        </table>
{#        <button type="button" class="btn btn-primary">Cancel Assignment</button>#}
{#          <button type="button" class="btn btn-danger">Yes</button>#}
{#        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Cancel Assignment</button>#}
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Cancel Assignment</button>
        <button type="button" class="btn btn-primary">Invoice</button>
        <button type="button" class="btn btn-primary">Payment</button>
{#        <button type="button" class="btn btn-primary">Finish Assignment</button>#}
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal2">Finish Assignment</button>

{#        modal do odrzucania pracy#}
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cancel Assignment</h5>
              </div>
              <div class="modal-body">
                <p>Are you sure?</p>
              </div>
              <div class="modal-footer">

                <form action="{% url 'job_management' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="submit_action" id="submit_action" value="">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit" name="cancel" class="btn btn-danger" onclick="setSubmitAction('cancel')">Yes</button>
                </form>
                  {#                  <a href="{% url 'job_assigned' id=job.id %}">#}
{#                    <button type="button" class="btn btn-primary">Yes</button>#}
                  {#                  </a>#}
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="tab-pane fade" id="tab2">
        Content for the second tab goes here.
      </div>
      <div class="tab-pane fade" id="tab3">
        Content for the third tab goes here.
      </div>
    </div>

{% endblock %}