{% extends 'base.html' %}

    <div class="container" >
{% block title %} Form {% endblock %}

{% block content %}
    <form method="post" action="{% url 'poll' %}" id="app">


        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            {{ form.first_name.errors }}
          <label for="{{ form.first_name.id_for_label }}" class="form-label">First Name</label>
          <input type="text" class="form-control" id="{{form.first_name.id_for_label}}" name="{{form.first_name.html_name}}">
        </div>
        <div class="mb-3">
            {{ form.surname.errors }}
          <label for="{{ form.surname.id_for_label }}" class="form-label">Surname</label>
          <input type="text" class="form-control" id="{{form.surname.id_for_label}}" name="{{form.surname.html_name}}">
        </div>
        <div class="mb-3">
            {{ form.phone_number.errors }}
          <label for="{{ form.phone_number.id_for_label }}" class="form-label">Phone Number</label>
          <input type="text" class="form-control" id="{{form.phone_number.id_for_label}}" name="{{form.phone_number.html_name}}">
        </div>
        <div class="mb-3">
            {{ form.email.errors }}
          <label for="{{ form.email.id_for_label }}" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="{{form.email.id_for_label}}" name="{{form.email.html_name}}">
        </div>
        <div class="mb-3">
            {{ form.adress.errors }}
          <label for="{{ form.adress.id_for_label }}" class="form-label">Address</label>
          <input type="text" class="form-control" id="{{form.adress.id_for_label}}" name="{{form.adress.html_name}}">
        </div>
        <div class="mb-3">
            {{ form.city.errors }}
          <label for="{{ form.city.id_for_label }}" class="form-label">City</label>
          <input type="text" class="form-control" id="{{form.city.id_for_label}}" name="{{form.city.html_name}}">
        </div>
        <div class="mb-3">
            {{ form.postal_code.errors }}
          <label for="{{ form.postal_code.id_for_label }}" class="form-label">Postal Code</label>
          <input type="text" class="form-control" id="{{form.postal_code.id_for_label}}" name="{{form.postal_code.html_name}}">
        </div>

            <div class="mb-3" ><fetch-select label="make" v-bind:objects="makes" ></fetch-select></div> <!--przekazac propsy z apki vue, np."items=makes"-->

<!--        <div class="mb-3">-->

<!--            {{ form.make.errors }}-->
<!--          <label for="{{ form.make.id_for_label }}" class="form-label">Make</label>-->
<!--          <input type="text" class="form-control" id="{{form.make.id_for_label}}" name="{{form.make.html_name}}">-->
<!--        </div>-->

            <div class="mb-3" ><fetch-select label="model" v-bind:objects="models" ></fetch-select></div>
            <span>{{make_id}}</span>
        <!-- <div class="mb-3">
            {{ form.model.errors }}
          <label for="{{ form.model.id_for_label }}" class="form-label">model</label>
          <input type="text" class="form-control" id="{{form.model.id_for_label}}" name="{{form.model.html_name}}">
        </div> -->
        <div class="mb-3">
            {{ form.body_type.errors }}
          <label for="{{ form.body_type.id_for_label }}" class="form-label">Body Type</label>
          <input type="text" class="form-control" id="{{form.body_type.id_for_label}}" name="{{form.body_type.html_name}}">
        </div>
        <div class="mb-3">
            {{ form.production_year.errors }}
          <label for="{{ form.production_year.id_for_label }}" class="form-label">Production Year</label>
          <input type="number" class="form-control" id="{{form.production_year.id_for_label}}" name="{{form.production_year.html_name}}">
        </div>
        <div class="mb-3">
            {{ form.fuel_type.errors }}
          <label for="{{ form.fuel_type.id_for_label }}" class="form-label">Fuel Type</label>
          <input type="text" class="form-control" id="{{form.fuel_type.id_for_label}}" name="{{form.fuel_type.html_name}}">
        </div>
        <div class="mb-3">
            {{ form.engine_displacement.errors }}
          <label for="{{ form.engine_displacement.id_for_label }}" class="form-label">Engine Displacement</label>
          <input type="number" class="form-control" id="{{form.engine_displacement.id_for_label}}" name="{{form.engine_displacement.html_name}}" >
        </div>
        <div class="mb-3">
            {{ form.transmission.errors }}
          <label for="{{ form.transmission.id_for_label }}" class="form-label">Transmission</label>
          <input type="text" class="form-control" id="{{form.transmission.id_for_label}}" name="{{form.transmission.html_name}}">
        </div>
        <div class="mb-3">
            {{ form.horsepower.errors }}
          <label for="{{ form.horsepower.id_for_label }}" class="form-label">Horsepower</label>
          <input type="number" class="form-control" id="{{form.horsepower.id_for_label}}" name="{{form.horsepower.html_name}}" >
        </div>
        <div class="mb-3">
            {{ form.service.errors }}
          <label for="{{ form.service.id_for_label }}" class="form-label">Service</label>
          <input type="text" class="form-control" id="{{form.service.id_for_label}}" name="{{form.service.html_name}}">
        </div>

        <button type="submit" class="btn">Send</button>



    </form>

<!--        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
        {% verbatim %}
<script>

    Vue.component("fetch-select", {
        props: ["label", "objects", ],
        template: `
        <div>
            <label for="object-select" class="form-label">{{ label }}</label>
            <div class="dropdown">
                <input type="text" class="form-control dropdown-toggle" id="object-select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-on:input="inputHandler" v-model="userInput" autocomplete="off" :name="label"></input>
                <div class="dropdown-menu" aria-labelledby="make-select">
                    <a class="dropdown-item" v-for="object in filteredObjects" v-on:click="dropdownItemClickHandler">{{ object.name }}</a>

                </div>
            </div>
        </div>`,

        created: function() {
          this.filteredObjects = this.objects
        },

        data: function() {
            
         
            return {
                
                filteredObjects: [],
                userInput: ""
            }
        },
        
        methods: {
            
            inputHandler(event) {
              this.filteredObjects = []
              for (object of this.objects) {
                if(object.name.toUpperCase().includes(this.userInput.toUpperCase())) {
                  this.filteredObjects.push(object)
                }
              }
            },
            dropdownItemClickHandler(event) {
              console.log(event.target.textContent)
              this.filteredObjects = []
              
              this.userInput = event.target.textContent
              $('.dropdown-toggle').dropdown()


            }
            
        }
    })

var app = new Vue({
  el:'#app',
  data: {
    
    makes: [], //fetch api musi tu zapisac dane
    models: [],
    make_id: null
    
    
  },
  created: function() {
           
    fetch("/api/makes/")
        .then((response) => response.json())
        .then((response_data) => {
            console.log(response_data);
            this.makes = response_data;
            
        });
    
    fetch("/api/models/")
      .then((response) => response.json())
      .then((response_data) => {
          console.log(response_data);
          this.models = response_data;
          
      });
            
  }

  
})
        </script>
        {% endverbatim %}

{% endblock %}
    </div>

