{% extends 'base.html' %}

{% block title %} Job List {% endblock %}


{% block content %}

<div style='margin-top:10px;'>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Pick the Job</th>
          <th scope="col">Vehicle</th>
          <th scope="col">Service</th>
          <th scope="col">Adress</th>
          <th scope="col">Map</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Name</th>
          <th scope="col">Added at:</th>
          <th scope="col">Details</th>

        </tr>
      </thead>
      <tbody>
        {% for job in job_list %}
            {% if job  %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{ job.id }}">Pick</button></td>
          <td>{{job.make}}, {{job.model}}, {{job.engine_displacement}}, {{job.fuel_type}}</td>
          <td>{{job.service}}</td>
          <td>{{job.city}}, {{job.adress}}, {{job.postal_code}}</td>              <!-- uporzadkowac tebelke, zrobic full details do job_list i job_management, job_management bedzie moze mial statusy platnosci i faktury? -->

{#          <td><button type="button" class="btn btn-primary">Map</button></td>#}
          <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">Map</button></td>
          <td>{{job.phone_number}}</td>
          <td>{{job.first_name}}, {{job.surname}}</td>
          <td>{{job.timestamp}}</td>
          <!-- <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{ job.id }}">Show</button></td> -->
          <td><a href="{% url 'job_details' job.id %}" class="btn btn-primary">Show</a></td>
        </tr>
        {#modal z pracą#}
        <div class="modal fade" id="exampleModal{{ job.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pick the Job</h5>
              </div>
              <div class="modal-body">
                <p>Are you sure?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <a href="{% url 'job_assigned' id=job.id %}">
                    <button type="button" class="btn btn-primary">Pick</button>
                  </a>
              </div>
            </div>
          </div>
        </div>
            {% else %}
                No Jobs
            {% endif %}
        {% endfor %}
      </tbody>
    </table>

</div>
{#{% endfor %}#}



{#    modal z mapą#}
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">modal z mapą</h5>
{#            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
      </div>
      <div class="modal-body">
        <p>mapa</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">costam</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}